<p id="notice"><%= notice %></p>

<p>
  <b>Bio:</b>
  <%= @profile.bio %>
</p>

<p>
  <b>Amazon wishlist:</b>
  <%= @profile.amazon_wishlist %>
</p>

<p>
  <b>Twitter:</b>
  <%= @profile.twitter %>
</p>

<p>
  <b>Address:</b>
  <%= @profile.address %>
</p>

<p>
  <b>Website:</b>
  <%= @profile.website %>
</p>

<p>
  <b>User:</b>
  <%= @profile.user_id %>
</p>


<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
