<h2>Your Gift Exchange Dashboard</h2>

<% if current_user.profile_incomplete? %>
   <p>It seems you haven't filled out your profile yet. Please do so now so your gifter can get a better idea of what to get you!</p>
   <p><%= link_to "Edit My Profile", edit_user_registration_path, :class => "btn" %></p> 
<% end %>

<div class="row">
<section id="gift_exchanges" class="span6">
  <h3>Your gift exchanges</h3>
  <% unless current_user.exchanges.empty? %>
    <% for exchange in current_user.exchanges %>
      <div class="exchange">
        <h4><%= exchange.name %></h4>
        <h5><%= exchange.call_to_action %></h5>
        <% if exchange.state == "matched" %>
          <% if current_user.your_match(exchange) %>
            <h6>Here's your match: <%= link_to current_user.your_match(exchange).name, user_path(current_user.your_match(exchange)) %> (click to read their info)</h6>
          <% else %>
            <p>We're very sorry, it seems you somehow didn't get matched. Please alert the admin.</p>
          <% end %>
        <% end %>
        <% if exchange.state == "signup" %>
          <p><%= markdown exchange.summary %></p>
          <%= link_to "Quit this exchange", quit_exchange_path(exchange), :class => "btn btn-mini btn-danger" %>
        <% end %>
        <% if exchange.state == "closed" %>
          <p>This exchange is now <strong>closed</strong>. You should be receiving your gift shortly, if you haven't already.</p>
          <h6>Receive your gift? Let us know on the Gift Blog!</h6>
          <%= link_to "Post my gift on the blog", post_gift_exchange_path(exchange), :class => "btn btn-primary" %>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <p>You have not signed up for any gift exchanges! Sign up for one of the exchanges listed here.</p>
  <% end %>
</section>

<% unless current_user.potential_exchanges.empty? %>
  <section id="new_exchanges" class="span6">
    <h3>Here are some other gift exchanges you can sign up for</h3>
    <% for exchange in current_user.potential_exchanges %>
      <div class="exchange">
        <h4><%= exchange.name %></h4>
        <p><%= markdown exchange.summary %></p>
        <%= link_to "Sign up for #{exchange.name}", sign_up_exchange_path(exchange), :class => "btn btn-mini btn-success" %>
      </div>
    <% end %>
  </section>
<% end %>
</div>
