<h2><%= @user.name %></h2>
<% @page_title = @user.name %>

<% if current_user.is_matched_with?(@user) %>
  <h5>Address</h5>
  <%= markdown @user.profile.address rescue "Not filled out" %>
<% end %>

<h5>Bio:</h5>
<%= markdown @user.profile.bio rescue "Not filled out" %>

<h5>Things I like, dislike, and am maybe I'm allergic to:</h5>
<%= markdown @user.profile.likes rescue "Not filled out" %>

<h6>Amazon.com Wishlist</h6>
<%= link_to @user.profile.amazon_wishlist, @user.profile.amazon_wishlist, :target => '_blank' rescue "I don't have an amazon wishlist" %>

<h6>Twitter:</h6>
<%= link_to "@" + @user.profile.twitter, "http://www.twitter.com/" + @user.profile.twitter, :target => '_blank' rescue "I'm not on twitter." %>

<h6>Website:</h6>
<%= link_to @user.profile.website, @user.profile.website, :target => '_blank' rescue "I don't have personal website" %>

<% if user_signed_in? %>
  <% if current_user.role? :admin %>
    <% for exchange in @user.exchanges %>
      <h5>Matches</h5>
      <h6><%= exchange.name %></h6>
      <% if @user.your_match(exchange) %>
        <p>Matched with: <%= link_to @user.your_match(exchange).name, user_path(@user.your_match(exchange)) %></p>
      <% else %>
        <p>It seems this person doesn't have a match...</p>
      <% end %>
    <% end %>
  <% end %>
<% end %>
