<h2>The Gift Blog</h2>
<section id="posts" class="row posts">
<% @posts.each do |post| %>
  <article class="post span4">
    <% if post.photos.first %>
      <a href="/posts/<%= post.id %>"><%= image_tag post.photos.first.image.url(:thumb) %></a>
      
    <% end %>
    <h4><%= post.title %></h4>
    <h6>by <%= post.user.name %></h6>
    <%= markdown truncate(post.body, :length => 250, :omission => '...') %>
    <p class="readmore"><%= link_to 'Read More', post %></p>
  </article>
<% end %>
</section>
